@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
}
.nav {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}

.dark-overlay {
	background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	right: 26.09%;
}
.hero-text-shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
.primary-button {
	padding: 0.5rem 2rem 0.5rem 2rem;
	background-color: white;
	color: black;
	width: fit-content;
	border-radius: 4px;
}
