@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	background: #141414;
}
.nav {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
	// background-color: rgb(20, 20, 20);
}

.dark-overlay {
	background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	right: 26.09%;
}
.hero-text-shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.button {
	padding: 0.75rem 2rem 0.75rem 2rem;
	width: fit-content;
	border-radius: 4px;

	@media (max-width: 768px) {
		padding: 0.75rem 1.5rem 0.75rem 1.5rem;
	}
}

.primary {
	background-color: white;
	color: black;
}
.secondary {
	background-color: rgba(109, 109, 110, 0.4);
}
.titles-overlay {
	background: linear-gradient(
		180deg,
		hsla(0, 0%, 8%, 0) 0,
		hsla(0, 0%, 8%, 0.15) 15%,
		hsla(0, 0%, 8%, 0.35) 29%,
		hsla(0, 0%, 8%, 0.58) 44%,
		#141414 68%,
		#141414
	);
	height: 30vw;
	width: 100%;
}
.posters {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.poster-overlay {
	background: linear-gradient(1turn, rgba(0, 0, 0, 0.6), transparent 65%);
}

.swiper {
	width: fit-content !important;
	height: 33rem;

	@media (max-width: 768px) {
		height: 21rem;
	}
}
.swiper-slide {
	width: fit-content !important;
	height: unset !important;
}
.swiper-wrapper {
	align-items: center;
}
.show-popup {
	background-color: #181818;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
}
