@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-overlay {
	background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 8;
	right: 26.09%;
}
